<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simplypatrick.kotlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConsoleActivity" />
        <activity
            android:name=".coroutines.LaunchActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines.RunBlockingActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines.BuildSequenceActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines.ProduceActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines.DelayActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines.ManyCoroutinesActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines.TimeoutActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines.CoroutineContextActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines.basics.FibonacciActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines.basics.OneHundredCoroutinesActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines.basics.ParallelExecutionActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines.basics.PrematureResultActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines.basics.RunBlockingActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines.basics.SuspendFunctionsActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines.basics.DispatchersActivity"
            android:exported="true" />
        <activity
            android:name=".objects.CompanionActivity"
            android:exported="true" />
        <activity
            android:name=".objects.EmptyInterfaceActivity"
            android:exported="true" />
        <activity
            android:name=".misc.ExceptionActivity"
            android:exported="true" />
        <activity
            android:name=".misc.DelegatedPropertiesActivity"
            android:exported="true" />
    </application>

</manifest>